section{
    font-size: 60px;
    background-color:rgb(47, 47, 132);
    color: white;
    text-align: center;
}
*{
    background-color: #8dc2cf;
    padding: 0;
    margin: 0;
    text-align: center;
}
.btn{
    border: 5px solid black;
    text-align: center;
    font-size: 90px;
    color: white;
    border-radius: 10px;
    margin: 3px;
    background-color: black;
}
button:active{
    background-color: rgba(0, 0, 0, 0.517);
}
.game{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px ;
    justify-content: center;
    margin-top: 40px;
}
.msg{
    font-size: 34px;
    margin-top: 20px;
}
.rst-btn{
    font-size: 30px;
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
}
.new{
    font-size: 30px;
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
}



